<div class="appointments">
    <div class="calendar-header">
        <h1> September 2022</h1>
    </div>

        <table id="calendar-table">
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </table>

</div>
