    <div class="selecteddays">
      <div class="selecteddays-header">Selected Days</div>
      <p></p>

      <div class="rup-select">
        <select>
          <option value="">Check your days</option> 
        {{#each @selectedDay as |day index|}}
          <option value={{day.date}}>{{day.date}}</option>
        {{/each}}          
        </select>          
      </div>            
      <p></p>
      <button {{on "click" this.saveDates}} class="rup-btn rup-btn--contained" type="button">Save</button>
    </div>