    <div class="selecteddays">
      <div class="selecteddays-header">Selected Days</div>
      <p></p>
      <input 
            type="text" 
            value="" 
            class="rup-input"
            placeholder={{@arrayDays}}
            >
      <p></p>
      <button class="rup-btn rup-btn--contained" type="button">Save</button>
    </div>