    <div class="selecteddays">
      <div class="selecteddays-header">Selected Days</div>
      <p></p>
      <input placeholder="Thu 8 Sept" type="text" value="" class="rup-input">
      <p></p>
      <button class="rup-btn rup-btn--contained" type="button">Save</button>
    </div>