{{page-title "Bookings"}}
<NavBar />
  <h2>Bookings CCC</h2>
  <p>CCC Office Tracker Bookings.</p>
<p> </p>
<div class="bookings">
  <Appointments></Appointments>
  <Selecteddays></Selecteddays>
</div>
  
{{outlet}}